ul {
	list-style: none;
	padding-left: 0px;
}

li > ul {
	margin-left: 2em;
}

#indexContainer {
}

#indexContainer ul {
	margin: 0;
	float: left;
}

#mapContainer{
	margin: 1em;
	float: left;
}

.page {
	border: 1px solid #744C02;
	background-color: rgba(190, 125, 10, 0.42);
}
.page .page {
	border-right: none;
}

a.pageName {
	display: block;
	padding: 1ex;
	color: #060709;
}

.page:nth-child(even) {
	border-color: #034703;
	background-color: rgba(29, 121, 29, 0.7);
}
.page:nth-child(even) > a.pageName{
}

.closed > ul{
	height: 0px;
	overflow: hidden;
}
