.page {
	border: 1px solid orange;
	margin: 1em;
}

.page > a.pageName {
	display: block;
	padding: 1ex;
	background-color: #E7C58A;
	color: #060709;
}

.page > ul {
	list-style: none;
	padding-left: 1em;
}

.closed > ul{
	height: 0px;
	overflow: hidden;
}
